body{
  background-color: whitesmoke;
}
.logo-img{
  height: 150px;
  padding: 10px;
  margin: 10px;
}
.App {
  position: relative;
}
.phone{
  fill: white;
}

button {
  margin: 20px;
}
/* Aboutme.css */


/* Move to the center of the page */
/* .trs {
  position: relative;
   
  left:110px;
bottom: -130px;
  height: 100vh;

  
}
.aboutme {
  bottom: -130px;
  height: 100vh;

  transition: left 0.5s ease-out /* Smooth transition effect */
/* }  */




.custom-tooltip {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.custom-tooltip::after {
  border-top: 6px solid #333; /* Tooltip arrow color */
}


/* Optional: add a background color and some padding for better visibility */

.App {
  font-family: sans-serif;
  text-align: center;
}
/* Portfolio.css */
.contactcard{
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
    /* width: 80%; */
}
.card {
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
  color: white;
  
}
.card:hover{
  box-shadow: none;
}

.card:hover {
  transform: translateY(-10px); /* Adjust this value as needed */
  background-color: orange; 
  color: black; /* Tailwind's slate-50 */
}
.intro{
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}