@tailwind base;
@tailwind components;
@tailwind utilities;



.phone{
  fill: orange;
}
.services{
  color:rgb(64, 64, 64)
}




.facebook:hover{
  background-color: #3B5998;
  fill: white;
  
}
.insta:hover{
 background: linear-gradient(to right, #F58529, #DD2A7B, #8134B9);
  fill: white;
}

.linkdin:hover{

  background-color: #0077B5;
  
  fill:white; 
}
.t-linkdin{
  background-color:#0077B5;
 
  fill:white;
}
.t-github{
  background-color:#181717;
  fill: white;
}
.t-facebook{

  background-color: #3B5998;
  fill: white;

}
.github:hover{
  background-color:#181717;
  fill: white;
}
.twitter:hover{
  fill: white;
  background-color:  #181717;
}
.whatsapp:hover{
  fill: white;
  background-color: #25D366; 
}
.t-whatsapp{
  fill: white;
  background-color: #25D366; 
}
.t-insta{
  background: linear-gradient(to right, #F58529, #DD2A7B, #8134B9);
  fill: white;
}
.stylish-regular {
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;
}


.logo{
  font-family: "Audiowide", sans-serif;
  font: 24px;
}
.getin{
  background-color: rgb(221, 149, 16);
  color: black;
}
.getin:hover{
  background-color: orange;
  
}
.introcont{
  display: flex;
  align-items: center;
justify-content: space-evenly;
gap: 100px;
background-image: url('images/home-bottom-shape.png');

}
.container{
  
height: 80vh;
margin: auto;
z-index: 10;
background-color:rgb(62, 59, 59);
color: white;
width: 80%;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px rgba(38, 38, 38, 0.25);

}
.cross{
  fill:white;
  cursor: pointer;

}
.cross:hover{
  fill: orange;
}
.typeWriterText{
  color: orange;
  font-size: 30px;
font-style:oblique;
font-family: '''Times New Roman', Times, serif;
}



.icon {
  transition: transform 0.30s ease; 
  fill: rgb(255, 255, 255);

  
}
.iconn{
  fill: #25D366;
}
.card:hover .icon {

/* Rotate icon on card hover */
transform:rotateX(180deg);
/* fill: blue; */
fill:darkslateblue;
}


.ul:hover{
  text-decoration: underline;
  
text-underline-offset:8px ; /* Adjusts the distance of the underline */
text-decoration-color: #1e40af;
transition: text-decoration-color 0.3s ; 
cursor: pointer;
}
.t-icon{
  cursor: pointer;
}
.t-icons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
  display: none; /* Initially hide the icons */
  transition: opacity 0.3s ease-in-out;
}

.t-card {
  position: relative;
  z-index: 1;
  min-width: 22%;
  background-color: rgba(255, 255, 255, 1); /* Initially fully opaque */
  transition: background-color 0.3s ease-in-out;
}

.t-card:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Change background opacity on hover */

}

.t-card:hover .t-icons {
  display: flex;
  opacity: 1; /* Show icons and keep their opacity at 1 */
 
}

.t-card img {
  transition: opacity 0.3s ease-in-out;
}

.t-card:hover img {
  opacity: 0.5; /* Fade image but not the icons */
}
@media (max-width: 730px) {
.mq-nav-items{
  display: none;
  
} 
.ham-button{
  align-items: center;
justify-content: end  ;
  display: flex;
 
}
 }

  @media (max-width: 783px) {
  .mq-footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
      }
.footer{
  height: 140vh;
}

}
@media (max-width: 700px) {
.mq-count{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3px;

}
.mq-heading{
  font-size: 38px;
  line-height: 1;
}
.mq-heading-port{
  font-size: 35px;
}
}
@media (max-width: 920px) {
  .logo{
    font-family: "Audiowide", sans-serif;
    font-size: 50px;
  }
  .intro-desc{
    font-size: 40px;
  }
}
@media (max-width: 1004px) {
  .mq-buttons{
  width: 165px;

}

}
@media (max-width: 1000px) {
.mq-work-desc{
display: flex;
font-size: 12px;
justify-items: center;
}}
@media (max-width: 543px) {
.footer{
  height: 150vh;
}
.logo{
  font-family: "Audiowide", sans-serif;
  font-size: 40px;
}
.intro-desc{
  font-size: 30px;
}}
@media (max-width: 483px) {
  .footer{
    height: 180vh;
  }
  .logo{
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
  }
  .intro-desc{
    font-size: 22px;
  }
}
  @media (max-width: 400px) {
    .footer{
      height: 190vh;
    }
    .logo{
      font-family: "Audiowide", sans-serif;
      font-size: 25px;
    }
    .intro-desc{
      font-size: 18px;
    }
  }
@media (max-width:951px) {
  .mq-contact-form{
    display: flex;
    flex-direction: column;
  }
  .mq-team-form{
    display: flex;
    flex-direction: column;
  }
  .mq-main-form{
    display: flex;
    flex-direction: column
  }
  .mq-aboutme{
    display: flex;
    flex-direction: column;
  }

.mq-team-img{
  width: 80%;
  
  }
  .mq-main-img{
    width: 80%;
    
    }
}
@media (max-width: 940px) {
  .mq-nav-button{
    display: none;
  }
  .sticky-header{
    padding-right:30px ;
    margin: 0px;
    width: 100%;
  }
  }
  @media (max-width: 515px) {
    .portfolio-cards{
      display: flex;
     margin: 5px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
   
    
  .footer{
    display: flex;
   flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
     
    }
    
   
    
    .mqlogo{
      display: block;
    }
    
  
    .nav-content{
      display: inline;
  
    }
    .mqnavic{
      display: none;
    }
  }